:root {
  --primary-color: #ffce49;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Righteous', serif;
  --default-font-family: 'Titillium Web', sans-serif;
}

*/ body {
  margin: 0px auto;
  max-width: 100%;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #27261f;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-bottom: 0;
}

.logo {
  color: var(--secondary-color);
}

p {
  font-weight: normal;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 16px 80px;
}

.main-heading {
  font-size: 96px;
  text-align: center;
  margin-top: 48px;
}

.yellow {
  color: var(--primary-color);
}

.heading {
  margin-top: 80px;
  font-size: 32px;
  font-family: 'Titillium Web';
}

.upper-heading,
.contact-heading {
  font-size: 48px;
  text-align: center;
}

.sub-heading {
  font-size: 32px;
  font-family: 'Titillium Web';
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-top: 24px;
}

.txt {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:hover {
  text-decoration: underline;
  color: #555;
}

.center {
  display: flex;
  align-content: center;
  margin: 0 auto;
}

.footer {
  background-color: #27261f;
  color: var(--secondary-color);
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-block {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 24px 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  font-size: 21px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.social-link:hover {
  color: var(--secondary-color);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.about {
  margin-top: 64px;
}

.github-link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.github-link:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 48px;
    line-height: 1.5;
  }

  .upper-heading {
    font-size: 32px;
    text-align: center;
  }

  .app-heading,
  .contact-heading {
    text-align: center;
    font-size: 32px;
  }

  .app-link {
    display: block;
    text-align: center;
    margin-top: 40px;
  }

  .section {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .more-link {
    text-align: center;
  }

  .hero {
    padding: 120px 16px;
  }

  .heading {
    margin-top: 80px;
  }

  .sub-heading {
    font-size: 24px;
  }
}

/* Up-button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--primary-color); /* Set a background color */
  color: #27261f; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  color: white;
}
