:root {
  --primary-color: #ffce49;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Righteous', serif;
  --default-font-family: 'Titillium Web', sans-serif;
}

*/ body {
  margin: 0px auto;
  max-width: 100%;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #27261f;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 16px;
}

.main-heading {
  font-size: 96px;
  text-align: center;
}

.yellow {
  color: var(--primary-color);
}

.heading {
  margin-top: 120px;
}

.upper-heading,
.contact-heading {
  font-size: 48px;
  text-align: center;
}

.sub-heading {
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
}

.txt {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .main-heading {
    font-size: 48px;
    line-height: 1.5;
  }

  .upper-heading {
    font-size: 32px;
    text-align: center;
  }

  .app-heading,
  .contact-heading {
    text-align: center;
    font-size: 32px;
  }

  .app-link {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
}
